nav {
  position: fixed;
  a{
    img {
      height:60px
    }
  }
  .nav-link {
    font-size: 18px;
    color: #1b3c59;
    margin-right: 10px;
  }
}


.autocomplete {
  position: relative;
  & > ul {
    position: absolute;
    list-style-type: none;
  }
}
