.space_search {
  width: 100%;
  height: 20px;
}

.dove {
  font-size: 18px;
  color: #1b3c59;
  border: 1px solid #ced4da;
  border-top-right-radius: 5px;
  width: 100%;
  height: 50px;

}

.filtri {
  border: 1px solid #ced4da;
  border-top: none;
  font-size: 18px;
  color: #1b3c59;
  #rooms, #beds {
    margin: 4px 9px 6px;
    width: 45px;
    height: 25px;
    text-align: center;
    border-color: #ced4da;
  }
  #search_radius {
    margin-top: 10px;
    width: 100%;
    height: 25px;
    text-align: center;
    border-color: #ced4da;
  }
  #filtered2{
    background-color: #61ce4e;
    color: white;
    height: 50px;
    border: none;
  }
  #apt_address {
    border: none;
  }
  span {
    padding-top: 10px;
  }
}

.appartamento {
  border: 1px solid #ced4da;
}

.search_container2{
      position: relative;
  .autocomplete{
    z-index: 99999;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    background: #1c3d58e0;
    color: white;
    padding: 20px;
    top: 105px;
    left: 0;
    div{
      width: 100%;
      p{
        font-size:15px;
        cursor: pointer;
        width: 100%;
        padding: 3px;
        &:hover{
          background-color: #1C3D58;
          box-shadow: 2px 2px 2px black;
          border-radius: 4px;
          padding: 3px 3px 3px 15px;
        }
      }
    }
  }
}

// .results {
//   h1 {
//     margin: 20px 0;
//   }
//   .apartments_reserch {
//     .row {
//       #sponsored_apt,#normal_apt{
//         display: flex;
//         flex-wrap: wrap;
//         width: 100%;
//         .container_{
//           width: 33%;
//           height: 350px;
//
//         }
//         .apartment_{
//           margin: auto;
//           max-width: 95%;
//           img{
//             width: 100%;
//             height: 250px;
//           }
//           h3{
//             font-size: 25px;
//           }
//           p{
//             font-size: 20px;
//           }
//         }
//
//       }
//
//       .caratteristiche_reserch {
//         height: 100%;
//         width: 100%;
//       }
//
//       .caratteristiche_reserch {
//         height: 100%;
//         width: 100%;
//       }
//     }
//   }
// }
//
// @media screen and (max-width: 575px){
//   .results {
//     margin: 150px 0;
//   }
// }
