
.crea_appartamento {
  border-radius:5px;
  height: 350px;
  background-color: #DBDBDB	;
  opacity:0.5;
  text-align: center;
  .fas{
    padding-top: 20px;
    padding-right: 20px;
    font-size:250%;
  }
}

.img-apartment{
  border-radius:5px;
  height: 350px;
}
