// Variables
@import 'variables';

// Bootstrap l'ho commentato perché non mi prendeva le modifiche al file _home
@import '~bootstrap/scss/bootstrap';
@import '_header';
@import '_footer';
@import '_welcome';
@import '_ui_apartaments';
@import '_show_ui_apartment';
@import '_user_apartments';
@import '_upra_messages';
@import '_statistics';
@import '_create_apartment';


  .blu {
    color: #1b3c59 !important;
  }

  .verde {
    color: #61ce4e;
  }

  body{
    background-color: white;
    margin-top: 85px;

  .accedi, .registrati,  {
    width:340px;
    margin: auto;
    border-radius:5px;
    text-align: center;
    background-color: white;
    font-size: 15px;
    position: sticky;
    z-index: 1060;

    .input{
      margin:auto;

      #mail, #password, #nome, #cognome, #dataDiNascita{
        height:50px;
        width:80%;
        margin-left:10%;
        margin-bottom:10px;
        font-size: 18px;
      }
    }

    .continua{
      text-align: center;

      button{
        font-size: 18px;
        font-weight: bold;
        padding: 2% 5%;
        background-color:#61ce4e ;
        color: white;
        box-shadow: none;
        border-radius: 5px;
        margin: 5% 0;
        border: none;
      }
    }
  }
.card-header{
  display:none;
}
  .off{
    display: none;
  }
  .on {
    display: block;
  }
  .card-body{
    height: 100%;
    border:none;
  }
  .card{
    width:340px;
    height:100%;
    margin: auto;
    border-radius:5px;
    text-align: center;
    border:none;
  }
  .bordo{
    border-top:none;
  }
  .btn-primary{
    font-size: 18px;
    font-weight: bold;
    padding: 2% 5%;
    background-color:#61ce4e ;
    color: white;
    box-shadow: none;
    border-radius: 5px;
    margin: 5% 0;
    border: none;
    margin-top:30px;
  }
}

.form-check-label{
  padding-left:20px;
}
.dispna{
  display: none;
  position: absolute;;
}

.form-control{
  height:40px;
  font-size: 15px;
}

.modal-content {
  width: 80%;
}

//footer bottom
.content{
  min-height: calc(100vh - 85px);
}

//pagamento
h4{
	 font-size: 20px;
}
.sear_bar{
	border:1px solid #1B3C59;
	height: 30px;
	border-radius:5px;
  width: 150px;
  font-size: 16px;
  text-align: center;

}
#apt_name{
	 font-weight:700;
	 font-size:25px;
	 color:#1b3c59;
}
#submit-button, #pay{
	font-size: 15px;
	font-weight: 700;
	height:30px;
	color:white;
	border-radius:5px;
	border:1px solid #1B3C59;
	background-color:#1b3c59;
}
#pay{
	background-color: #61CE4E!important;
}
.braintree-sheet {

  width: 36%;
}

.paypay {
  margin-top: 160px;
  h1 {
  font-size: 50px;
  font-weight: 700;
  }
}
